<button
	class="relative z-40 flex flex-col justify-between group w-[32px] h-[26px] ml-auto"
	id="btnHamburger"
	aria-expanded="false"
>
	<span
		class="h-[3px] w-full rounded-xl origin-top-left transition-transform bg-black group-aria-expanded:transform group-aria-expanded:rotate-[49deg]"
	>
	</span>
	<span
		class="h-[3px] w-full rounded-xl ease-in-out bg-black transition-opacity group-aria-expanded:opacity-0"
	>
	</span>
	<span
		class="h-[3px] w-full rounded-xl origin-bottom-left transition-transform bg-black group-aria-expanded:transform group-aria-expanded:-rotate-[49deg]"
	>
	</span>
</button>
