---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Natalia Rocca</title>
	</head>
	<body class="font-barlow">
		<header class="p-6">
			<div class="container">
				<button
					class="relative z-30 flex flex-col justify-between group w-[32px] h-[26px] ml-auto"
					id="btnHamburger"
					aria-expanded="false"
				>
					<span
						class="h-[3px] w-full rounded-xl origin-top-left transition-transform bg-black group-aria-expanded:transform group-aria-expanded:rotate-[49deg]"
					>
					</span>
					<span
						class="h-[3px] w-full rounded-xl ease-in-out bg-black transition-opacity group-aria-expanded:opacity-0"
					>
					</span>
					<span
						class="h-[3px] w-full rounded-xl origin-bottom-left transition-transform bg-black group-aria-expanded:transform group-aria-expanded:-rotate-[49deg]"
					>
					</span>
				</button>
			</div>
			<nav
				class="h-full bg-white absolute top-0 right-0 pt-20 w-0 transition-all ease-in-out overflow-hidden aria-expanded:w-[70%] z-20"
				aria-expanded="false"
				id="navigation"
			>
				<ul class="pl-8 space-y-4">
					<li><a href="#" class="link-group">options</a></li>
					<li><a href="#" class="link-group">options</a></li>
					<li><a href="#" class="link-group">options</a></li>
					<li><a href="#" class="link-group">options</a></li>
					<li><a href="#" class="link-group">options</a></li>
				</ul>
			</nav>
		</header>

		<div class="absolute inset-0 bg-black opacity-30 z-10 hidden" id="overlay">
		</div>
		<slot />
		<script src="../scripts/navigation.ts"></script>
	</body>
</html>
